html {
    margin: 100;
    padding: 0%;
    background-color:  rgb(228, 162, 20);
}

body {
    background-color: rgb(228, 162, 20);
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 100px;
    color:  white;
    text-align: center;
    background-color:  rgb(228, 162, 20);
    font-family: cursive;
}

p {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: cursive;
}
canvas {
    background: url("https://images.unsplash.com/photo-1617141870851-3e8c8c172595?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
    background-size: 100%;
    background-repeat: no-repeat;
}

#container {
    /* background: url(https://images.unsplash.com/photo-1617141870851-3e8c8c172595?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    /* background-size: 1600px 800px; */
    background-repeat: no-repeat;
    background-color: rgb(228, 162, 20);
    max-width: 45em;
    height: 120vh;
    margin: 0 auto;
    padding: 0em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-right top-right"
                            "game game game"
                            "bottom bottom bottom";
}
/* #container {
    max-width: 50em;
    height: 70vh;
    background-color: rgb(111, 12, 32);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-left top-right"
                          "game game game"
                          "btm-left btm-right btm-right";
} */
    

#top-left {
    grid-area: top-left;
    text-align: left;
    font-size: 60px;
    color: white;
    font-family: cursive;
    font-weight: 700px;
}
#top-right {
    grid-area: top-right;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: cursive;
    background-color: transparent;
    border: black;
    border-width: 100px;
}
#bottom {
    grid-area: bottom-center;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: cursive;
    background-color: transparent;
}
#title {
    text-align: center;
}
main {
    grid-area: game;
}