html {
    margin: 100;
    padding: 0%;
    background-color:  rgb(228, 162, 20);
}

body {
    background-color: rgb(228, 162, 20);
}

canvas {
    display: flex;
    width: 100px;
    height: 100px;
    color: rgb(8, 52, 66);    
}
h1 {
    font-size: 100px;
    color:  white;
    text-align: center;
    background-color:  rgb(228, 162, 20);
}

#container {
    background-image: url(https://images.unsplash.com/photo-1617141870851-3e8c8c172595?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-color: rgb(228, 162, 20);
    width: 55em;
    height: 50em;
    margin: auto;
    padding: 0em;
    display: grid;
    grid-gap: 0em;
    grid-template-rows: .15fr .75fr .15fr;
    grid-template-columns: .40fr .40fr .40fr;
    grid-template-areas: "top-left top-right top-right"
                            "game game game"
                            "bottom-left bottom-center bottom-right";
}
#top-left {
    grid-area: top-left;
    text-align: left;
    font-size: 60px;
    color: white;
    font-family: cursive;
    font-weight: 700px;
}
#top-right {
    grid-area: top-right;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: cursive;
    background-color: transparent;
    border: black;
    border-width: 100px;
}
#bottom {
    grid-area: bottom-center;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: cursive;
    background-color: transparent;
}
#title {
    text-align: center;
}
